<h1>Stocking</h1>
<!--p> Hello! This is my First Rails App </p-->

<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>

    <%= @stock = StockQuote::Stock.quote(params[:ticker]) %>
    <%= @stock.company_name %>
    
<% if @stock %>
    <%= @stock = StockQuote::Stock.quote(params[:ticker]) %>
    <%= @stock.company_name %>
    <%= @stock.latest_price %>
    <img src = "<%= @stock.url%>">
    <%= puts "HI" %>
<% else %>
    <%= puts "NOO" %>
<% end %>

      
