<h1>Stocking</h1>
<!--p> Hello! This is my First Rails App </p-->

<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>


<% if @stock %>
    <% puts "========== Index, Value = " + @stock.company_name + "==========" %>
    </br>
    ========== Index, Value = <%= @stock.company_name %>
    ========== Index, Price = <%= @stock.latest_price %>
<% elsif @nothing %>
    <%= @nothing %>
    <%= puts "========== Index, Params is NULL ==========" %>
<% end %>

